<h1><%= @article.title %></h1>
<%= @article.body_html %>

<hr />
<h3>Comments</h3>
<% for comment in @article.comments %>
  <h5><%= comment.author %> wrote:</h5>
  <%= comment.body_html %>
<% end %>

<hr />
<h3>Post a Comment</h3>
<form action="/blog/comments/create" method="get">
  <p>
    <input type="hidden" name="article_id" value="<%= @article.id %>" />
    <label for="comment_body">Comment</label><br />
    <textarea id="comment_body" name="body"></textarea>
  </p>
  <p>
    <label for="comment_author">Name</label><br />
    <input type="text" name="author" value="" />
  </p>
  <p><input type="submit" /></p>
</form>